<h1>Articles</h1>
Logged in as: <%= current_user.name %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
      <%= article.is_public ? '(public)' : '(private)' %>
    </li>
  <% end %>
</ul>
